{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='extra.css') }}">
    {{ super() }}
    <style type="text/css">
        {# ---- Add Custom CSS Here ---- #}
    </style>
{% endblock %}

{% block content %}

    {#
Add classes to WTForm
https://stackoverflow.com/questions/22084886/add-a-css-class-to-a-field-in-wtform
#}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                {# NONE #}
            </div>
            <div class="col-sm">
                <form method="POST" action="/userregister">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username(class_="form-control form-control-lg") }}
            {{ form.email.label }} {{ form.email(class_="form-control form-control-lg") }}
            {{ form.name.label }} {{ form.name(class_="form-control form-control-lg") }}

            <button style="margin-top: 1em" type="submit" value="submit" class="btn btn-primary btn-lg btn-block">
                Submit
            </button>
        </div>
            </div>
            <div class="col-sm">
                {# NONE #}
            </div>
        </div>
    </div>

{% endblock content %}

{% block sidebar %}
    {# --------- ADDS EXTRA CONTENT TO THE SIDE BAR BLOCK BY USING THE SUPER() --------- #} {{ super() }}
{% endblock sidebar %}