# Created by .ignore support plugin (hsz.mobi)


__pycache__/
# IntelliJ project files
.idea
*.iml
out
gen### Dropbox template
# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache


# IntelliJ project files
gen
config.py
ven
virtualenv
.vscode
**.pyc
/venv/
