{# ---- https://realpython.com/blog/python/primer-on-jinja-templating/ ---- #}

{% macro nav_link(endpoint, name) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for(endpoint) }}"> {{ name }}
                <span class="sr-only">(current)
    </span>
            </a>
        </li>
    {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for(endpoint) }}"> {{ name }}
                <span class="sr-only">(current)
    </span>
            </a>
        </li>
    {% endif %}
{% endmacro %}
