{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='extra.css') }}">
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}

{% block content %}
    <div class="card-columns">
        {% for posts in Users %}
            <div style="display: flex;" class="card">

                <img class="card-img-top" alt="Card image cap"
                     src="{{ url_for('static', filename = 'img/index.svg') }}">
                <div class="card-body">
                    <h5 class="card-title">{{ posts.user_first_name }}</h5>
                    <p class="card-text">{{ posts.posts }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock content %}


bd-example