{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='extra.css') }}">
    {{ super() }}
    <style type="text/css">
        {# ---- Add Custom CSS Here ---- #}
    </style>
{% endblock %}
{% block content %}
    <form action="{{ url_for('userregister') }}" method="post">


        {# ----------------  name FORM STARTS------------- #}
        <div class="form-group">
            {# ---------------- ERROR MSG name ------------- #}
            {% for message in form.name .errors %}
                <div class="alert alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {# ---------- ERROR MSG name END ----------- #}
            <input class="form-control form-control-lg" id="name " type="text" name="name "
                   placeholder="First Name"/></div>
        {# ----------------  name FORM ENDS ------------- #}


        {# ----------------  username FORM STARTS------------- #}
        <div class="form-group">
            {# ---------------- ERROR MSG username ------------- #}
            {% for message in form.username.errors %}
                <div class="alert alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {# ---------- ERROR MSG name END ----------- #}
            <input class="form-control form-control-lg" id="username" type="text" name="username"
                   placeholder="Last Name"/></div>
        {# ----------------  username FORM ENDS------------- #}


        {# ----------------  email FORM STARTS ------------- #}
        <div class="form-group">
            {# ---------------- ERROR MSG username ------------- #}
            {% for message in form.email.errors %}
                <div class="alert alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {# ---------- ERROR MSG name END ----------- #}
            <textarea class="form-control form-control-lg" id="email" type="email" name="email" placeholder="Post"
                      rows="3"/></textarea>
        </div>
        {# ----------------  email FORM ENDS------------- #}


        {# ----------------  email FORM STARTS ------------- #}
        <div class="form-group">
            {# ---------------- ERROR MSG username ------------- #}
            {% for message in form.email.errors %}
                <div class="alert alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {# ---------- ERROR MSG name END ----------- #}
            <textarea class="form-control form-control-lg" id="email" type="email" name="email" placeholder="Post"
                      rows="3"/></textarea>
        </div>
        {# ----------------  email FORM ENDS------------- #}
        {{ form.csrf_token }}

        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>

    </form>

{% endblock content %}

{% block sidebar %}
    {# --------- ADDS EXTRA CONTENT TO THE SIDE BAR BLOCK BY USING THE SUPER() --------- #} {{ super() }}
{% endblock sidebar %}